* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #ffe4e1; */
  /* commented by om referencing from medium webpage */
}

#landing-page{
  background-color: #ffe4e1;
}

.con1 {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-left: 300px;
}
.nav-list {
  margin: 5px;
  width: 80px;
  height: 20px;
  text-align: center;
  text-decoration: none;
}
.nav-list:link {
  color: black;
  text-decoration: none;
}
.nav-list:hover {
  color: red;
  text-decoration: none;
}
.con2 {
  margin-top: 100px;
  margin-left: 80px;
}
.head1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 500px;
  height: 100px;
}
.con3 {
  margin-top: 50px;
  margin-left: 80px;
  width: 500px;
  height: 210px;
}
.head2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.icon {
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
  width: 100px;
}
.myicon {
  border: 2px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80px;
  height: 50px;
}
.landing-page-button{
  margin: 30px 0;
}
.btn{
  background-color: #fff;
  border-radius: 22px;
  border: solid 1px black;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px 20px 9px;
  font-weight: 400;
  font-size: 16px;
}
